test_abc.py
test_abstract_numbers.py
test_aepack.py
test_al.py
test_anydbm.py
test_applesingle.py
test_array.py
test_ast.py
test_asynchat.py
test_asyncore.py
test_atexit.py
test_audioop.py
test_augassign.py
test_base64.py
test_bastion.py
test_bigaddrspace.py
test_bigmem.py
test_binascii.py
test_binhex.py
test_binop.py
test_bisect.py
test_bool.py
test_bsddb185.py
#test_bsddb3.py -- takes a long time
test_bsddb.py
test_buffer.py
test_bufio.py
test_builtin.py
test_bytes.py
test_bz2.py
test_calendar.py
test_call.py
test_capi.py
test_cd.py
test_cfgparser.py
test_cgi.py
test_charmapcodec.py
test_class.py
test_cl.py
test_cmath.py
test_cmd_line.py
test_cmd_line_script.py
test_cmd.py
test_codeccallbacks.py
test_codecencodings_cn.py
test_codecencodings_hk.py
test_codecencodings_jp.py
test_codecencodings_kr.py
test_codecencodings_tw.py
test_codecmaps_cn.py
test_codecmaps_hk.py
test_codecmaps_jp.py
test_codecmaps_kr.py
test_codecmaps_tw.py
test_codecs.py
test_codeop.py
test_code.py
test_coding.py
test_coercion.py
test_collections.py
test_colorsys.py
test_commands.py
test_compare.py
test_compile.py
#test_compiler takes a long time
#test_compiler.py
test_complex_args.py
test_complex.py
test_contains.py
test_contextlib.py
test_cookielib.py
test_cookie.py
test_copy.py
test_copy_reg.py
test_cpickle.py
test_cprofile.py
test_crypt.py
test_csv.py
test_ctypes.py
test_curses.py
test_datetime.py
test_dbm.py
test_decimal.py
test_decorators.py
test_defaultdict.py
test_deque.py
test_descr.py
test_descrtut.py
test_dict.py
test_difflib.py
test_dircache.py
test_dis.py
test_distutils.py
test_dl.py
test_doctest2.py
test_doctest.py
test_docxmlrpc.py
test_dumbdbm.py
test_dummy_threading.py
test_dummy_thread.py
test_email_codecs.py
test_email.py
test_email_renamed.py
test_enumerate.py
test_eof.py
# test_epoll.py -- hangs
test_errno.py
test_exceptions.py
test_exception_variations.py
test_extcall.py
test_fcntl.py
test_filecmp.py
test_fileinput.py
test_fileio.py
test_file.py
test_float.py
test_fnmatch.py
test_fork1.py
test_format.py
test_fpformat.py
test_fractions.py
test_frozen.py
test_ftplib.py
test_funcattrs.py
test_functools.py
test_future1.py
test_future2.py
test_future3.py
test_future4.py
test_future5.py
test_future_builtins.py
test_future.py
test_gc.py
test_gdbm.py
test_generators.py
test_genericpath.py
test_genexps.py
test_getargs2.py
test_getargs.py
test_getopt.py
test_gettext.py
test_global.py
test_glob.py 
test_gl.py
test_grammar.py
test_grp.py
test_gzip.py
test_hashlib.py
test_hash.py
test_heapq.py
test_hmac.py
test_hotshot.py
test_htmllib.py
test_htmlparser.py
test_httplib.py
test_httpservers.py
test_imageop.py
test_imaplib.py
test_imgfile.py
test_importhooks.py
test_import.py
test_imp.py
test_index.py
test_inspect.py
test_int_literal.py
test_int.py
# test_ioctl.py -- makes unimplemented pty/ptmx ioctl
test_io.py
test_isinstance.py
test_iterlen.py
test_iter.py
test_itertools.py
test_json.py
test_kqueue.py
test_largefile.py
test_lib2to3.py
#test_linuxaudiodev.py -- audio functionality, unsupported device
test_list.py
test_locale.py
test_logging.py
test_longexp.py
test_long_future.py
test_long.py
test_macos.py
test_macostools.py
test_macpath.py
test_mailbox.py
test_marshal.py
test_math.py
test_md5.py
test_memoryio.py
test_mhlib.py
test_mimetools.py
test_mimetypes.py
test_mine.py
test_minidom.py
# test_mmap.py -- BUG #6
test_modulefinder.py
test_module.py
test_multibytecodec.py
test_multibytecodec_support.py
test_multifile.py
#test_multiprocessing.py -- BUG #4
#hangs in release builds sometimes...
test_multiprocessing_mine.py
test_mutants.py
test_mutex.py
test_netrc.py
test_new.py
test_nis.py
test_normalization.py
test_ntpath.py
test_old_mailbox.py
test_opcodes.py
#test_openpty.py -- pts/ptmx not supported
test_operator.py
test_optparse.py
test_os.py
#test_ossaudiodev.py -- audio unsupported
test_parser.py
test_peepholer.py
test_pep247.py
test_pep263.py
test_pep277.py
test_pep292.py
test_pep352.py
test_pickle.py
test_pickletools.py
test_pipes.py
test_pkgimport.py
test_pkg.py
test_pkgutil.py
test_platform.py
test_plistlib.py
test_poll.py
test_popen2.py
test_popen.py
test_poplib.py
test_posixpath.py
test_posix.py
test_pow.py
test_pprint.py
test_print.py
test_profilehooks.py
test_profile.py
test_property.py
test_pstats.py
#test_pty.py --- pts ioctls unimplemented
test_pwd.py
test_py3kwarn.py
test_pyclbr.py
test_pydoc.py
test_pyexpat.py
test_queue.py
test_quopri.py
test_random.py
test_repr.py
test_re.py
#test_resource.py -- we get SIGXFSZ on file-size exceeded, but we don't handle
test_rfc822.py
test_richcmp.py
test_robotparser.py
test_runpy.py
test_sax.py
test_scope.py
test_scriptpackages.py
test_select.py
test_set.py
test_sets.py
test_sgmllib.py
test_sha.py
test_shelve.py
test_shlex.py
test_shutil.py
#test_signal.py -- "settimer doesn't disable ITIMER_VIRTUAL", but occurs rarely.
#mostly with release builds, happened again in 2 vcpu build
#test_signal.py
test_site.py 
test_slice.py
# Previously got a "uncaptured python exception closing channel"
# happens with release builds, multi-vcpu
# This is a bug in the program --- see source -- so not our problem
test_smtplib.py
# "Errno -2: Name or service not known" -- happens w and w/o vkernel, 
# so not a bug
test_socket.py
test_socketserver.py
test_softspace.py
test_sort.py
test_sqlite.py
#test_ssl.py -- ASSERT(fdCount == -ERESTARTNOHAND || fdCount >= 0) failed at fs/select.c:371, happens rarely
#test_ssl.py
test_startfile.py
test_strftime.py
test_stringprep.py
test_string.py
test_strop.py
test_strptime.py
test_str.py
test_structmembers.py
test_struct.py
test_structseq.py
test_subprocess.py
test_sunaudiodev.py
test_sundry.py
test_support.py
test_symtable.py
test_syntax.py
test_sys.py
test_tarfile.py
test_tcl.py
test_telnetlib.py
test_tempfile.py
test_textwrap.py
#test_threaded_import.py -- 
#  hangs, assertion failure?, happens in release build only
test_threaded_import.py
test_threadedtempfile.py
test_threading_local.py
#test_threading.py -- two processes seem to be spinning, but not in debug build
test_threading.py
test_thread.py
test_threadsignals.py
test_timeout.py
test_time.py
test_tokenize.py
test_traceback.py
test_trace.py
test_transformer.py
test_tuple.py
test_typechecks.py
test_types.py
test_ucn.py
test_unary.py
test_undocumented_details.py
test_unicodedata.py
test_unicode_file.py
test_unicode.py
test_unittest.py
test_univnewlines.py
test_unpack.py
test_urllib2_localnet.py
test_urllib2net.py
test_urllib2.py
test_urllibnet.py
test_urllib.py
test_urlparse.py
test_userdict.py
test_userlist.py
test_userstring.py
test_uuid.py
test_uu.py
#test_wait3.py -- wait() looks at rusage, which is unimplemented
#test_wait4.py -- ditto
test_warnings.py
test_wave.py
test_weakref.py
test_whichdb.py
test_winreg.py
test_winsound.py
test_with.py
test_wsgiref.py
test_xdrlib.py
test_xml_etree_c.py
test_xml_etree.py
test_xmllib.py
test_xmlrpc.py
test_xpickle.py
test_xrange.py
test_zipfile64.py
test_zipfile.py
test_zipimport.py
test_zlib.py
